
* {
    margin: 0;
    padding: 0;
}


@font-face {
font-family: 'ARCADE'; /* Choose a name for your font */
src: url('fonts/ARCADECLASSIC.TTF') format('truetype');
 /* Add other formats if available for broader browser support */
font-weight: normal;
font-style: normal;
}


body {
    background-color: #57CC99;
    text-align: center;
    margin-top: 6vh;
    font-family: 'ARCADE';

}

.heading {
    font-size: 5vh;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 1.5vmin;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    gap: 1.5vmin;
}

.box{
    font-family: 'ARCADE';
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    transition: box-shadow 0.2s;
    font-size: 10vmin;
    color: #5B2A86;
    background-color: #FBFAF8;
}

.box:hover{
    box-shadow: 0 0 2rem  rgba(0,0,0.1);
}

#reset-btn {
    padding: 1rem;
    font-family: "ARCADE";
    font-size: 1.75rem;
    cursor: pointer;
    background-color: #040F16;
    color: antiquewhite;
    border: none;
    border-radius: 1rem;
    transition: all 0.25s;
}


#reset-btn:hover{
    color:#040F16;
    background-color: antiquewhite;
}

#new-btn {
    padding: 1rem;
    font-family: "ARCADE";
    font-size: 1.75rem;
    cursor: pointer;
    background-color: #040F16;
    color: antiquewhite;
    border: none;
    border-radius: 1rem;
    transition: all 0.25s;
}

#new-btn:hover{
    color:#040F16;
    background-color: antiquewhite;
}

#msg {
    color: #FBFAF8;
    font-size: 6vmin;
    padding-bottom: 6vmin;
}

.btn-container{
    margin-bottom: 3vmin;
}

.msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: column;
    gap: 4rem;
}

.hide{
    display: none;
}